* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}   

body {
    height: 100vh;
}

.container {
    margin-top:40vh;
    top:200px;
    left:400px;
    width: 500px;
    height: 500px;
    background: black;
}

.box{
    position:absolute;
    left:50px;
    top:60px;
    width: 250px;
    height: 250px;
    background: red;
}


